<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/con-proving.css">
</head>
<body>
<article class="con-proving">
    <header class="pro-option fix">
        <section class="pro-login ative">
            <a href="">用户登录</a></section>
        <section class="pro-logout">
            <a href="">用户注册</a></section>
    </header>
    <section class="pro-mass unative">
        <form action="">
            <p class="pro-user"><span>用户名</span><input type="text" placeholder="请输入用户名"></p>
            <p class="pro-pass"><span>密码</span><input type="password" placeholder="请输入密码"></p>
            <div>
                <input type="submit" value="立即提交" class="pro-sub">
                <input type="reset" value="重置" class="pro-res">
            </div>
        </form>
    </section>
    <section class="pro-mass ative">
        <form action="">
            <p class="reg-user"><span>用户名</span><input type="text" placeholder="请输入用户名"></p>
            <p class="reg-pass"><span>密码</span><input type="password" placeholder="请输入密码"></p>
            <p class="reg-agin-pass"><span>确认密码</span><input type="password" placeholder="请再次输入密码"></p>
            <div>
                <input type="submit" value="立即提交" class="pro-sub">
                <input type="reset" value="重置" class="pro-res">
            </div>
        </form>
    </section>
</article>
</body>
