<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--在页面解析时获取的__dirname为根据当前目录下的href-->
    <link rel="stylesheet" href="../view/layui/css/layui.css">
    <link rel="stylesheet" href="../view/css/base.css">
    <link rel="stylesheet" href="../view/css/tag.css">
    <link rel="stylesheet" href="../view/css/article.css">
    <link rel="stylesheet" href="../view/css/nav.css">
</head>
<body>
<header class="blog-header">
    <div class="header-container fix">
        <ul class="head-nav">
            <li><a href="">
                <i class="layui-icon layui-icon-home head-nav-icon"></i>
                首页</a></li>
            <li><a href="">Web</a></li>
            <li><a href="">大数据</a></li>
            <li><a href="">Java</a></li>
            <li><a href="">Python</a></li>
            <li><a href="">关于</a></li>
        </ul>
        <ul class="head-login-status ative">
            <li><a class="head-login">登录</a></li>
            <li><a class="head-reg">注册</a></li>
        </ul>
        <ul class="head-login-status unative">
            <li><a href="">个人中心</a></li>
            <li class="login-mass">
                <div class="login-mass-main">
                    <img src="view/images/1.gif" alt="" class="head-pic">
                    <span class="head-user">用户名</span>
                    <span class="login-other"></span>
                </div>
            </li>
        </ul>
    </div>
</header>
<article class="blog-content">
    <section class="fix">
        <section class="con-article">
            <ul class="con-art-items">
                <li class="con-art-item fix">
                    <section class="item-icon">
                        <img src="view/images/1.gif" alt="icon" width="40px" height="40px">
                        <p class="item-user">发表用户</p>
                    </section>
                    <section class="item-option">
                        <p><span class="item-type">分类</span><span class="item-title">标题1</span></p>
                        <p class="item-time">2018-10-20 16:40</p>
                    </section>
                    <section class="item-comment">
                        <i class="layui-icon layui-icon-file-b ver-mid"></i>
                        <span class="ver-mid">0</span>
                    </section>
                </li>
                <li class="con-art-item fix">
                    <section class="item-icon">
                        <img src="view/images/1.gif" alt="icon" width="40px" height="40px">
                        <p class="item-user">发表用户</p>
                    </section>
                    <section class="item-option">
                        <p><span class="item-type">分类</span><span class="item-title">标题1</span></p>
                        <p class="item-time">2018-10-20 16:40</p>
                    </section>
                    <section class="item-comment">
                        <i class="layui-icon layui-icon-file-b ver-mid"></i>
                        <span class="ver-mid">0</span>
                    </section>
                </li>
                <li class="con-art-item fix">
                    <section class="item-icon">
                        <img src="view/images/1.gif" alt="icon" width="40px" height="40px">
                        <p class="item-user">发表用户</p>
                    </section>
                    <section class="item-option">
                        <p><span class="item-type">分类</span><span class="item-title">标题1</span></p>
                        <p class="item-time">2018-10-20 16:40</p>
                    </section>
                    <section class="item-comment">
                        <i class="layui-icon layui-icon-file-b ver-mid"></i>
                        <span class="ver-mid">0</span>
                    </section>
                </li>
            </ul>
            <footer>
                <div class="con-paging">
                    <ul class="pag-num">
                        <li class="pag-back pag-unalive">上一页</li>
                        <li class="pag-alive">1</li>
                        <li>2</li>
                        <li class="pag-next">下一页</li>
                    </ul>
                </div>
            </footer>
        </section>
        <aside class="con-aside">
            <header class="asi-title">
                <h3>介绍</h3>
            </header>
            <article class="asi-con">
                <p>学习后写的论坛</p>
                <p>写得不好，请多多指教</p>
            </article>
        </aside>
    </section>
</article>
</body>
<script src="../view/js/ajax.js"></script>
<script src="../view/js/index.js"></script>
</html>